/*@import url(http://fonts.googleapis.com/css?family=Crimson+Text); */

/* ------------- CTN article ------------- */

.standard.article h1,
.standard.article h2,
.article p,
.article li,
.article blockquote,
.article H3,
.article span,
.article a {
	font-family: "Crimson Text", "Georgia", serif;
	font-family: "Georgia", serif;
}

.article {
	padding-bottom: 75px;
}

.standard.article h1 {
	font-size: 48px;
	line-height: 50px;
	width: 100%;
}

.article h2 {
	padding-bottom: 30px;
}

.article h3 {
	padding-top: 35px;
	padding-bottom: 20px;
	font-size: 26px;
	font-weight: normal;
}

.article p,
.article li,
.article blockquote {
	font-size: 19px;
	line-height: 30px;
}
.article ul,
.article ol {
	padding-top: 10px;
	padding-bottom: 20px;
}

.article p {
/*	font-size: 21px;
	line-height: 30px; */
	padding-top: 10px;
	padding-bottom: 15px;
}

.article p,
.article h1,
.article h2,
.article h3,
.article h4,
.article ul,
.article ol {
  padding-right: 25px;
  padding-left: 25px;
}


@media only screen and (min-width: 1200px) {
	.article p,
	.article li,
	.article blockquote {
		font-size: 20px;
		line-height: 30px;
	}
}

/* A - phone vertical */
@media only screen and (max-width: 599px) {
	.article h1,
	.article h2,
	.article h3,
	.article h4,
	.article p {
		padding-left: 0px;
		padding-right: 0px;
	}
	.article p {
		font-size: 17px;
		line-height: 25px;
	}
	.article h1 {
		font-size: 32px;
		line-height: 35px;
	}
	.article h2 {
		font-size: 28px;
		line-height: 35px;
		font-weight: normal;
	}
	.article h3 {
		font-size: 23px;
		line-height: 30px;
		font-weight: normal;
		padding-top: 15px;
		padding-bottom: 5px;
	}
}

