html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
q,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  margin: 0;
  padding: 0;
}
article,
aside,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
video,
object {
  display: block;
}
a img {
  border: 0;
}
figure {
  position: relative;
}
figure img {
  width: 100%;
}
body {
  _background-image: url('/theme/noise2.png'), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  _background-color: #f9f9f9;
}
.container {
  margin: 0 auto;
  padding: 0;
  padding-left: 0;
  position: relative;
  _border-left: 1px solid #eeeeee;
  _border-right: 1px solid #eeeeee;
  _border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #fff;
}
.container.hr {
  _border-top: 1px solid #eeeeee;
  border-top: 1px solid #000;
  margin-top: -1px;
  margin-top: 25px;
}
/*
// Left cross
.container.hr:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: whatever;
	background: blabla
}

// right cross
.container.hr {
	position: relative;
	background: url('/theme/corner-right.png');
}
*/
.box {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-right: -1px;
  margin-bottom: -1px;
}
.row {
  margin-bottom: 25px;
}
.D1,
.D2,
.D3,
.D4,
.D5,
.D6,
.D7,
.D8,
.D9,
.D10,
.D11,
.D12,
.D13,
.D14,
.D15,
.D16,
.C1,
.C2,
.C3,
.C4,
.C5,
.C6,
.C7,
.C8,
.C9,
.C10,
.C11,
.C12,
.B1,
.B2,
.B3,
.B4,
.B5,
.B6,
.B7,
.B8,
.A1,
.A2,
.A3,
.A4 {
  display: inline;
  float: left;
  padding-left: 25px;
  padding-right: 25px;
}
.prefix1 {
  padding-left: 75px;
}
.prefix2 {
  padding-left: 150px;
}
.prefix3 {
  padding-left: 225px;
}
.prefix4 {
  padding-left: 300px;
}
.prefix5 {
  padding-left: 375px;
}
.prefix6 {
  padding-left: 450px;
}
.prefix7 {
  padding-left: 525px;
}
.prefix8 {
  padding-left: 600px;
}
.prefix9 {
  padding-left: 675px;
}
.prefix10 {
  padding-left: 750px;
}
.prefix11 {
  padding-left: 825px;
}
.prefix12 {
  padding-left: 900px;
}
.prefix13 {
  padding-left: 975px;
}
.prefix14 {
  padding-left: 1050px;
}
.prefix15 {
  padding-left: 1125px;
}
/* D - desktop */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .D0 {
    display: none !important;
  }
  .D1 {
    width: 25px;
  }
  .D2 {
    width: 100px;
  }
  .D3 {
    width: 175px;
  }
  .D4 {
    width: 250px;
  }
  .D5 {
    width: 325px;
  }
  .D6 {
    width: 400px;
  }
  .D7 {
    width: 475px;
  }
  .D8 {
    width: 550px;
  }
  .D9 {
    width: 625px;
  }
  .D10 {
    width: 700px;
  }
  .D11 {
    width: 775px;
  }
  .D12 {
    width: 850px;
  }
  .D13 {
    width: 925px;
  }
  .D14 {
    width: 1000px;
  }
  .D15 {
    width: 1075px;
  }
  .D16 {
    width: 1150px;
  }
}
/* C - tablet horizontal */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .container {
    width: 900px;
  }
  .C0 {
    display: none !important;
  }
  .C1 {
    width: 25px;
  }
  .C2 {
    width: 100px;
  }
  .C3 {
    width: 175px;
  }
  .C4 {
    width: 250px;
  }
  .C5 {
    width: 325px;
  }
  .C6 {
    width: 400px;
  }
  .C7 {
    width: 475px;
  }
  .C8 {
    width: 550px;
  }
  .C9 {
    width: 625px;
  }
  .C10 {
    width: 700px;
  }
  .C11 {
    width: 775px;
  }
  .C12 {
    width: 850px;
  }
}
/* B - tablet horizontal */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .container {
    width: 600px;
  }
  .B0 {
    display: none !important;
  }
  .B1 {
    width: 25px;
  }
  .B2 {
    width: 100px;
  }
  .B3 {
    width: 175px;
  }
  .B4 {
    width: 250px;
  }
  .B5 {
    width: 325px;
  }
  .B6 {
    width: 400px;
  }
  .B7 {
    width: 475px;
  }
  .B8 {
    width: 550px;
  }
}
/* A - phone vertical */
@media only screen and (max-width: 599px) {
  .container {
    width: 300px;
  }
  .A0 {
    display: none !important;
  }
  .A1 {
    width: 45px;
  }
  .A2 {
    width: 120px;
  }
  .A3 {
    width: 195px;
  }
  .A4 {
    width: 270px;
  }
  .A1,
  .A2,
  .A3,
  .A4 {
    display: inline;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.container:before,
.container:after {
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.row:after,
.clearfix:after,
.container:after {
  clear: both;
}
/* For IE7. Move this to separate file when you notice some problems */
.row,
.clearfix {
  zoom: 1;
}
img,
object,
embed {
  max-width: 100%;
}
img {
  height: auto;
}
