.header a {
	color: #000;
}

.header {
	padding-top: 0px;
	padding-bottom: 20px;
}

.header h3 {
	padding-left: 25px;
	padding-bottom: 15px;
}

.header H1 {
	padding-left: 25px;
}

/* A - phone vertical */
@media only screen and (max-width: 599px) {
	.header h3 {
		padding-top:  15px;
		padding-left: 0px;
	}
}