..header-sub a {
	color: #000;
}

.header-sub {
	padding-top: 0px;
	padding-bottom: 20px;
}

.header-sub h3 {
	padding-left: 25px;
	padding-bottom: 15px;
}

.header-sub H1 {
	padding-left: 25px;
}

/* A - phone vertical */
@media only screen and (max-width: 599px) {
	.header-sub h3 {
		padding-top:  15px;
		padding-left: 0px;
	}
}