.container.image {
/*	padding: 0;
*/}

.container.image img.mainimg {
	margin-top: -4px !important;
	margin-bottom: -4px !important;
  margin-left: 25px;
  margin-right: 25px;
}

.image p.grey {
	padding-bottom: 25px;
}

.image.bottomline {
  margin-bottom: -25px;
}

/* D - desktop */
@media only screen and (min-width: 1200px) {
  .container.image img {
    width: 1150px;
  }
}

/* C - tablet horizontal */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .container.image img {
    width: 850px;
  }
}

/* B - tablet horizontal */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .container.image img {
    width: 550px;
  }
}

/* A - phone vertical */
@media only screen and (max-width: 599px) {
	.image img {
		max-width: 300px;
	}
}

