/* --- CTN nav --- */
.container.nav {
	padding: 0px;
}

.container.nav .inner {
	padding-left: 0;
	padding-right: 0;
}

.nav h3 {
	line-height: 75px;
	padding-top: 2px;
}

.nav a,
.nav .title,
.nav .label {
	line-height: 50px;
	height: 50px;
	display: block;
	float: right;
	margin: 0;
	padding: 0;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #fff;
}
.nav.path a:not(:first-child)
.nav.path .title {
	padding-left: 13px;
	padding-right: 12px;
}

.nav a.selected {
	background-color: #eee;
}

.nav img.logo {
	display: block;
	float: left;
	height: 50px;
	margin: 0;
	padding: 0;
	border: 0;
}

.nav div ul {
	list-style: none; margin: 0; padding: 0; 
}

.nav div li,
.nav div .label {
	display: block;
	float: left;
	line-height: 50px;
}
.nav div li:hover(not:.label) {
	background-color: #eee;
}

.nav.path div li:not(:first-child):before {
	content: ' → ';
	display: inline-block;
}

.nav.right div.inner {
	padding-right: 0;
	margin-right: 0;
	width: 899px;
	float: right;
}
.nav.right div li {
	float: right;
}

@media screen and (max-width: 599px) {
/* iPhone Portrait max-width: 320px */
	.nav {
		width: 300px;
	}
	.nav a {
		font-size: 14px;
		line-height: 50px;
		padding: 0 10px;
		font-style: normal;
	}
	.nav li {
		height: 50px;
		padding-left: 0;
	}
	section.container.nav > .inner {
		width: 300px;
	}
}

@media screen and (min-width: 600px) and (max-width: 899px) {
/* iPad Portrait */
	.nav     { width: 600px; }
	section.container.nav > .inner {
		width: 600px;
	}
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
/* iPad Landscape */
	.nav     { 
		width: 900px; 
		padding-right: 0;
	}
	.nav a:hover {
		background-color: #eee;
		text-decoration: none;
	}
	.section.container.nav > .inner {
		width: 900px;
	}
}

@media screen and (min-width: 1200px) {
/* big screens */
	.nav     { width: 1200px; }
	.nav a:hover {
		background-color: #eee;
		text-decoration: none;
	}
	section.container.nav > .inner {
		width: 1200px;
	}
}