@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

/* ------------- notes ------------- */
.notes p,
.notes h1,
.notes h2,
.notes h3,
.notes h4,
.notes ul,
.notes ol {
	font-family: 'Oxygen Mono', sans-serif;
	font-family: "Open Sans";
	font-family: Helvetica;
}



.notes h1 {
	font-size: 48px;
	line-height: 50px;
	width: 100%;
}

.notes h2 {
	font-size: 46px;
	line-height: 50px;
}

.notes h4 {
/*	font-family: 'Oxygen Mono', sans-serif; */
	font-size: 24px;
	line-height: 35px;
	font-weight: normal;
}

.notes p {
	font-size: 16px;
	line-height: 25px;
	padding-top: 10px;
	padding-bottom: 15px;
}
