.quads H4 {
	font-weight: bold;
	padding-bottom: 0;
}
.quads .item {
  padding-bottom: 25px;
}

/* D - desktop */
@media only screen and (min-width: 1200px) {
	.quads .item:nth-child(4n+1) {
	  clear: both;
	}
}

/* C - tablet horizontal */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
	.quads .item:nth-child(3n+1) {
	  clear: both;
	}
}

/* B - tablet horizontal */
@media only screen and (min-width: 600px) and (max-width: 899px) {
	.quads .item:nth-child(2n+1) {
	  clear: both;
	}
}

/* A - phone vertical */
@media only screen and (max-width: 599px) {
}