.container.tiles {
  padding-bottom: 0;
  padding-top: 0;
}

.tiles .item {
  height: 250px;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* links */

.tiles .item:hover {
  text-decoration: none;
  background-color: #eee;
}

/* typography */

.tiles h2,
.tiles h4,
.tiles p {
  margin: 0;
  padding: 0;
}

.tiles h4 {
  font-size: 17px;
  font-weight: bold;
}



/* first = first teaser is big */

.tiles .first.item {
  height: 575px;
}

.tiles h2 {
  margin-bottom: 25px;
}

.tiles .linktext {
  display: inline;
}



/* flex = flexible height */

.tiles.flex > .item {
  height: 100%;
}

.tiles.flex span {
  line-height: 25px;
  margin: 0;
  padding: 0;
}

/*


.tiles.low .item {
  height: 225px;
}

.tiles a:hover {
  text-decoration: none;
}
.tiles a:hover > H4,
.tiles a:hover > H2 {
  text-decoration: underline;
}
.tiles a:hover > p {
  color: #777;
}

.tiles .item:hover {
  background-color: #ff0;
}

.is-scrolling .tiles a:hover {
  background-color: transparent;
}

.tiles .item:hover h4,
.tiles .item:hover p {
  color: #000;
}

.tiles H2 {
  _font-size: 21px;
  _font-weight: bold;
  _color: #000;
}
.tiles H4 {
  padding-bottom: 0;
  font-weight: bold;
  font-size: 17px;
  _color: #000;
}
.tiles H4 + p {
  padding-top: 0px;
  color: #666;
}

.tiles .item span {
  color: #bbb;
}

.tiles a.item:hover .img {
  opacity: 0.5;
}

.tiles .img {
  width: 250px;
  height: 135px;
  position: relative;
  margin: auto;
  overflow: hidden;
  margin-top: 3px;
  margin-bottom: -4px;
}
.tiles .item .img img {
  width: 250px;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



.tiles.full .item {
  height: 275px !important;
}
.tiles.full .img {
  width: 300px;
  height: 200px;
  margin-left: -24px;
  padding: 0;
  padding-top: 22px;
  
}
.tiles.full .img img {
  width: 300px;
}


.tiles.first .first .img {
  width: 550px;
  height: 400px;
  margin-top: 0px;
}
.tiles.first .first .img img {
  width: 550px;
}


.tiles a.item.first > h2 {
  padding-top: 7px;
}

.tiles .item.first .img {
  height: 300px;
}

.tiles .item.first img {
  width: 575px;
}

.tiles .item.form {
  height: 100px;
  border: 0;
}

.tiles .item.form:hover {
  background-color: transparent;
}


*/

/* D - desktop */
@media only screen and (min-width: 1200px) {
  .tiles:not(.first) a:nth-child(4n+1) {
    clear: both;
  }
  .tiles.first a:nth-child(4n+6) {
    clear: both;
  }
  .tiles.first .item.first p {
    font-size: 20px;
    line-height: 30px;
  }
}

/* C - tablet horizontal */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .tiles:not(.first) a:nth-child(3n+1) {
    clear: both;
  }
  .tiles.first a:nth-child(3n+4) {
    clear: both;
  }
  .tiles.first .item.first p {
    font-size: 20px;
    line-height: 30px;
  }
}

/* B - tablet horizontal */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .tiles:not(.first) a:nth-child(2n+1) {
    clear: both;
  }
  .tiles.first a:nth-child(2n+2) {
    clear: both;
  }
  .tiles.first .item.first p {
    font-size: 20px;
    line-height: 30px;
  }
}


/* A - phone vertical */
@media only screen and (max-width: 599px) {
  .tiles .item,
  .tiles .item.first {
    height: inherit;
  }
  .tiles .item.first .img {
    width: 250px;
    height: 175px;
    padding-top: 0;
  }
  .tiles .item.first img {
    padding-top: 0;
  }
  .tiles .item.first h2,
  .tiles .item.first p
   {
    padding-left: 0px;
    padding-right: 0px;
  }
}