.container.triples {
	padding-bottom: 0;
	padding-top: 0;
}

.triples > a.item {
	_border-right: 1px solid #eee;
	_margin-right: -1px;
	_border-bottom: 1px solid #eee;
	_margin-bottom: -1px;
	height: 500px;
	overflow: hidden;
	background-color: #fff;
}

.triples.flex > a.item {
	height: inherit;
}

.triples > a:hover {
	text-decoration: none;
	background-color: #eee;
}
.triples a:hover > H4,
.triples a:hover > H2 {
	text-decoration: underline;
}
.triples a:hover > p {
	color: #777;
}

.triples H3 {
	padding-left: 0px;
	padding-bottom: 5px;
}

.triples .item span {
	color: #bbb;
}

.triples a.item:hover .img {
	opacity: 0.5;
}

.triples .img {
  width: 350px;
  height: 350px;
  position: relative;
	margin: auto;
  overflow: hidden;
}
.triples .item .img img {
  width: 350px;
  position: absolute;
  margin: auto;
	padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.triples.hr {
	padding-top: 25px;
}


/* D - desktop */
@media only screen and (min-width: 1200px) {
	.triples:not(.first) a:nth-child(4n+1) {
	  clear: both;
	}
	.triples.first a:nth-child(4n+6) {
	  clear: both;
	}
	.triples.first .item.first p {
		font-size: 20px;
		line-height: 30px;
	}
	.triples .item {
		width: 350px !important;
	}
}

/* C - tablet horizontal */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
	.triples:not(.first) a:nth-child(3n+1) {
	  clear: both;
	}
	.triples.first a:nth-child(3n+4) {
	  clear: both;
	}
	.triples.first .item.first p {
		font-size: 20px;
		line-height: 30px;
	}
}

/* B - tablet horizontal */
@media only screen and (min-width: 600px) and (max-width: 899px) {
	.triples:not(.first) a:nth-child(2n+1) {
	  clear: both;
	}
	.triples.first a:nth-child(2n+2) {
	  clear: both;
	}
	.triples.first .item.first p {
		font-size: 20px;
		line-height: 30px;
	}
}


/* A - phone vertical */
@media only screen and (max-width: 599px) {
	.triples .item,
	.triples .item.first {
		height: inherit;
	}
	.triples .item.first .img {
		width: 250px;
		height: 175px;
		padding-top: 0;
	}
	.triples .item.first img {
		padding-top: 0;
	}
	.triples .item.first h2,
	.triples .item.first p
	 {
		padding-left: 0px;
		padding-right: 0px;
	}
}