section.standard.storefill,
section.tiles.storefill {
  background-color: #eee !important;
  font-family: "Outfit Code", "Monaco", "Courier New", Helvetica, Arial;
}

.storefill img {
  width: 100px;
}

section.standard.storefill p {
  padding-top  : 25px;
  padding-left : 25px;
}

section.standard.storefill a {
  border-bottom: 2px solid #333;
}

section.tiles.storefill a {
  text-decoration: none;
  padding: 22px;
}

section.tiles.storefill a:hover {
  background-color: #ddd;
}

section.tiles.storefill h4 {
  font-weight: normal;
  font-family: "Outfit Code", "Monaco", "Courier New", Helvetica, Arial;
}
