/* @override http://res.ctn.io/image.css */

/* --- CTN image --- */

.image {
  width: 1200px;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 0;
  margin-top: -1px;
  padding-bottom: 20px;
}
.image img {
	padding: 25px;
	padding-bottom: 0;
	max-width: 1150px;
}


@media screen and (max-width: 599px) {
  /* iPhone Portrait max-width: 320px */
	.image     { width: 299px; }
	.image img { 
		max-width: 280px; 
		padding: 10px;
	}
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  /* < iPad Portrait */
	.image     { width: 599px; }
	.image img { max-width: 550px; }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  /* < iPad Portrait */
	.image     { width: 899px; }
	.image img { max-width: 850px; }
}
@media screen and (min-width: 1200px) {
  /* big screens */
	.image     { width: 1199px; }
	.image img { max-width: 1150px; }
}
