/* @override http://res.ctn.io/info-quad.css */

/* --- PAGE --- */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* --- CTN info-quad ---------------------------------------------------------*/
.info-quad {
  background-color: #fff;
  font-family: Helvetica, Arial;
  margin-top: -1px;
  padding-left: 0px;
  padding-right: -1px;
  margin-right: -1px;
  border: 1px solid #eee;
  overflow: hidden;
}
.info-quad h3.container_h {
  margin-bottom: 21px;
  display: none;
}
.info-quad .item {
  margin: 0;
  margin-left: 	 -1px;
  margin-bottom: 0px;
  padding: 20px;
  width: 260px;
/*  height: 260px; */
  float: left;
  display: block;
  border: 0;
  background-color: #fff;
  overflow: hidden;
}
.info-quad a.item:hover {
  background-color: #eeeeee;
  text-decoration: none;
}
.info-quad .item_content {
	width: 100%;
/*	height: 260px; */
	overflow: hidden;
}
.info-quad img {
  width: 260px;
  overflow:hidden;
}
.info-quad p.h {
  font-size: 18px;
  line-height: 20px;
  margin-top: 0px;
  font-weight: bold;
}
.info-quad p.text {
  font-size: 14px;
  line-height: 20px;
  color: #777777;
  margin-top: 14px;
}
.info-quad div.link {
  font-size: 14px;
  line-height: 20px;
  color: #777777;
  color: #0099ff;
  position: relative;
  float: right;
  top: -10px;
  left: 20px;
  display: block;
  height: 20px;
  min-width: 20px;
  padding: 5px;
  background-color: #eee;
  text-align: center;
}
.info-quad a:hover div.link {
  background-color: #0099ff;
  color: #fff;
}
.info-quad a:hover p.h {
  color: #0099ff;
}




/* =Clear Floated Elements
--------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

/*
@media screen and (max-width: 599px) {
	.info-quad { 
		width: 299px; 
	}
	.info-quad img  { 
		width: 110px; 
	}
	.info-quad .item {
		width: 109px;
		height: 109px;
		padding: 20px;
	}
	.info-quad .item p.h {
		margin-bottom: 0;
		font-size: 15px;
		line-height: 15px;
	}
	.info-quad .item p.text,
	.info-quad .item .link {
		display:  none;
	}
}
*/
@media screen and (min-width: 600px) and (max-width: 899px) {
  /* < iPad Portrait */
	html .info-quad { width: 599px; }
  .info-quad div:nth-child(2n+1) {
    clear: both;
  }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  /* < iPad Landscape */
	html .info-quad { width: 899px; }
  .info-quad div:nth-child(3n+1) {
    clear: both;
  }
}
@media screen and (min-width: 1200px) {
  /* big screens */
	html .info-quad { width: 1199px; }
  .info-quad div:nth-child(4n+1) {
    clear: both;
  }
}

