/* @override 
	http://res.ctn.io/nav.css
*/

/*
for css debugging
body {
  background: url('http://kon.io/ctncss/grid.png') repeat 0px -10px;
}
*/

/* --- CTN nav --- */
.nav {
  width: 1200px;
  font-family: Helvetica, Arial;
  border: 0;
  border: 1px solid #eee;
	padding: 0px;
  margin-top: -2px;
  background-color: #fff;
}
.nav .inner {
	padding: 0px;
}
.nav a,
.nav .title {
  display: block;
  float: left;
  line-height: 50px;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
}

.nav a.selected {
  background-color: #eee;
}

img.logo {
	display: block;
	float: left;
	height: 50px;
	margin: 0;
	padding: 0;
	border: 0;
}

@media screen and (max-width: 599px) {
  /* iPhone Portrait max-width: 320px */
	.nav     { width: 299px; }
	.nav a {
	  font-size: 14px;
	  line-height: 25px;
	  padding: 0 10px;
    }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  /* iPad Portrait */
	.nav     { width: 599px; }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  /* iPad Landscape */
	.nav     { width: 899px; }
	.nav a:hover {
	  background-color: #eee;
	  text-decoration: none;
    }
}
@media screen and (min-width: 1200px) {
  /* big screens */
	.nav     { width: 1199px; }
	.nav a:hover {
	  background-color: #eee;
	  text-decoration: none;
    }
}