/* @override 
	http://res.ctn.io/tiles.css
*/

/* --- CTN tiles --- */

/* for css debugging

body {
	  background: url('http://kon.io/ctncss/grid.png') repeat 0px -10px !important;
}
*/

a {
	text-decoration: none;
}

.tiles {
  border: 0;
  font-family: Helvetica, Arial;
  margin-top: -1px;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}
.tiles.flex {
	border-bottom: 1px solid #eee;
}
.tiles h3.container_h {
  margin-bottom: 21px;
  display: none;
}
.tiles .tile {
  margin: 0;
  margin-left: 	 0px;
  margin-right:  -1px;
  margin-top: 	 -1px;
  margin-bottom: 0px;
  padding: 25px 24px 0px 24px;
  width: 251px;
  min-height: 274px;
  max-height: 274px;
  float: left;
  display: block;
  border: 1px solid #eee;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.tiles.flex .tile {
  min-height: 25px;
  max-height: 1025px;
  border-bottom: 0;
}

.tiles.big .tile:first-child {
  width: 551px;
  min-height: 574px;
  max-height: 574px;
}

.tiles a.tile:hover {
  text-decoration: none;
}
.tiles .content {
	width: 100%;
	min-height: 580px;
	max-height: 580px;
	overflow: hidden;
}
.tiles.flex .content {
	min-height: 25px;
	max-height: 1080px;
}
.tiles .img {
  width: 250px;
  height: 175px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.tiles img {
  width: 250px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tiles.big .tile:first-child .img {
	width: 550px;
	height: 400px;
}
.tiles.big .tile:first-child img {
	width: auto;
}
.tiles a div p.h {
  color: #333;
  font-size: 18px;
  line-height: 25px;
  margin-top: -5px;
  margin-bottom: 4px;
  font-weight: bold;
}
.tiles.big a.tile:first-child div p.h {
	font-size: 42px;
	line-height: 50px;
	font-weight: normal;
	padding-top: 30px;
	padding-bottom: 15px;
}
.tiles div.img + p {
	padding-top: 15px;
}
.tiles p.text {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  margin-top: 0px;
}
.tiles div.link {
  font-size: 14px;
  line-height: 25px;
  color: #06f;
  position: relative;
  float: right;
  top: -30px;
  left: 25px;
  height: 25px;
  min-width: 20px;
  padding: 0 5px;
  min-width: 15px;
  background-color: #eee;
  text-align: center;
}
.tiles.flex div.link {
	top: 0px;
}

.tiles a:hover div.link {
  background-color: #06f;
  color: #fff;
}
.tiles a:hover p.h {
  color: #06f;
}
.tiles a.tile .hilite {
  display: none;
}
.tiles a.tile:hover .hilite {
  position: absolute;
  display: block;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-color: rgba(0, 0, 0, 0.05);
}




@media screen and (max-width: 599px) {
	.tiles a.tile {
		width: 129px;
		min-height: 129px;
		max-height: 129px;
		padding: 10px;
	}
	.tiles.big a.tile .content {
		width: 100%;
		min-height: 80px;
		max-height: 1080px;
		overflow: hidden;
	}
	.tiles.big a.tile:first-child {
		width: 279px;
		min-height: 250px;
		max-height: 1050px;
	}
	.tiles a.tile .img {
		width: 130px;
		height: 90px;
	}
	.tiles.big a.tile:first-child div.img {
		width: 280px;
		height: 150px;
	}
	.tiles a.tile img {
		width: 130px;
	}
	.tiles.big a.tile:first-child img {
		width: 280px;
	}
	.tiles.flex a.tile {
		width: 279px;
		min-height: 25px;
	}
	.tiles a.tile p.h {
		padding: 0;
		margin: 0;
		margin-top: -2px;
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 15px;
	}
	.tiles a.tile .link {
		display:  none;
	}
	.tiles.big a.tile .content .h {
		margin: 0;
		padding: 5px 0 5px 0;
		line-height: 15px;
	}
	.tiles.big a.tile:first-child .content .h {
		margin: 0;
		padding: 5px 0 0px 0;
		font-size: 15px;
		line-height: 25px;
		font-weight: bold;
	}
	.tiles.flex a.tile p.text {
		display: block;
		float: left;
	}
	.tiles.big a.tile:first-child p.text {
		display:  inline;
	}
	.tiles a.tile .hilite {
		display: none;
	}
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  /* < iPad Portrait */
	html .tiles { width: 600px; }
  .tiles a:nth-child(2n+1) {
    clear: both;
  }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  /* < iPad Landscape */
	html .tiles { width: 900px; }
  .tiles a:nth-child(3n+1) {
    clear: both;
  }
}
@media screen and (min-width: 1200px) {
  /* big screens */
	html .tiles { width: 1200px; }
  .tiles a:nth-child(4n+1) {
    clear: both;
  }
}

